<footer class="footer">&copy; Created By PLEX Lab in New Mexico State University
<span class ="nmsu-link">
    <a href="https://www.nmsu.edu/" target="_blank">
        <img src="/images/NMSU_NoU-Crimson.png" alt="NMSU logo">
        </a>
    </span>        
</footer>
