
<div class="logo-container">
    <div class="image-container">
       <a href="https://www.cs.nmsu.edu/plexlab/" target="_blank"><img src="images/DarkBanner.svg" alt="Lab-logo" > </a> 
    </div>
</div>

<h2><%= title %> </h3>
