<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
	<div>
		<a style="position: sticky;" href="/home">Home</a>
		<a style="position: sticky;" 	href="/searchBy">Search</a>
		<a style="position: sticky;  text-transform: capitalize;" href="/<%=loginStat%>"><%=loginStat%></a>
		<a style="position: sticky;" href="/about">About</a>
		<div align="right"><a><%=welcome%></a></div>
	</div>
    <header>
		<p><%= title %><br><br><strong>About</strong></p>
	</header>
	<section class="get">
	</section>
	<br>
	This portal is developed by PLEX lab team. If you want to stop your participation and have all your videos metadata deleted, or if you have any question, please contact:
	<ul>
		<li>
			Dr. William Hamilton<br>
			Assistant Professor, <br>
			Department of Computer Science New Mexico State University<br>
			<a href="mailto:bill@cs.nmsu.edu">bill@cs.nmsu.edu</a>
		</li>
		<br>
		<li>
			Saleem Masadeh<br>
			Graduate Student, <br>
			Department of Computer Science New Mexico State University<br>
			New Mexico State University<br>
			<a href="mailto:saleem@nmsu.edu">saleem@nmsu.edu</a><br>
		</li>
	</ul>
	</body>
	<br>
	<br>
	<div class="footer">&copy; Created By PLEX Lab in New Mexico State University </div>
	<script>
		
	</script>
</html>
