<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div>
			<a style="position: sticky;" 	href="/home">Home</a>
			<a style="position: sticky;" 	href="/searchBy">Search</a>
			<a style="position: sticky;  text-transform: capitalize;" href="/<%=loginStat%>"><%=loginStat%></a>
			<a style="position: sticky;" 	href="/about">About</a>	
			<div align="right"><a><%=welcome%></a></div>
		</div>
		<header>
			<p><%= title %><br><br><strong>Home</strong></p>
		</header>
		<section class="get">
			<p> 
				This Database portal has been developed at PLEX lab in NMSU. 
				The main goal of the portal is to achieve high level of transparency between YouTube creators 
				and PLEX lab research team. It allows the creators to interact with the data 
				crawled from their channels by performing two types of operations, Search and Delete.
				Creators can access the metadata of their channels by loging to the portal using the 
				ID sent to them after filling the consent form.
			</p>
			<p>
				Search operation can be performed one of the video attributes, video title or video 
				visibility such as public or private.
				If the creator decides not to share any video metadat, he can use Delete operation. It 
				can be done by clicking a trash symbol next to any video record.
			</p>
			<br>
		</section>
	</body>
	<br>
	<br>
	<div class="footer">&copy; Created By PLEX Lab in New Mexico State University </div>
</html>
