<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
	<div>
		<a style="position: sticky;" href="/home">Home</a>
		<a style="position: sticky;" 	href="/searchBy">Search</a>
		<a style="position: sticky;  text-transform: capitalize;" href="/<%=loginStat%>"><%=loginStat%></a>
		<a style="position: sticky;" href="/about">About</a>	
	</div>
    <header>
		<p><%= title %><br><br><strong>Sign In</strong></p>
	</header>
	<section class="post">
		<div>
		<div style="color:red;"><strong><%=error1%></strong></div>
		<form action="/ulogin" method="post">
			<div class="input">
				<p>Username
					<input type="text" style="margin-left: 10px;" size="25" id="username" placeholder="username..." name="username" required>
				</p>
				<p>password
					<input type="password" style="margin-left: 15px;" size="25" id="pswd" 	placeholder="password..." name="pswd" required>
				</p>
				<button type="submit">Sign in</button>
			</div>
		</form>
		<!-- <p>Not a User? 		<a style="position: sticky;" href="/register">Create an Account</a> -->
		<p>Forgot Password?	<a style="position: sticky;" href="/restoreAccount">Reset Your Password</a>
		</div>
	</section>
	</body>
	<br>
	<br>
	<div class="footer">&copy; Created By PLEX Lab in New Mexico State University </div>
</html>
