<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
    <header>
		<p><strong>Welcome to</strong><br><br> <%= title %></p>
	</header>
	<section class="get">
		<h2>
			Register New User!
			<a style="position: fixed; left:660px" href="/home">Home</a>
			<a style="position: sticky;" 	href="/searchBy">Search</a>
			<a style="position: fixed; left:730px" href="/login">Login</a>
			<a style="position: fixed; left:800px" href="/about">About</a>	
		</h2>
		<div>
		<form action="/registerUser" method="get">
			<div class="input">
				<p>Consent Form ID
					<input type="text" style="margin-left: 11px;" size="35" id="cFormID" placeholder="Consent form ID..." name="cFormID" required>
				</p>
				<p>Username
					<input type="text" style="margin-left: 50px;" size="25" id="username" placeholder="Choose Username..." name="username" required>
				</p>
				<p>Password
					<input type="text" style="margin-left: 53px;" size="25" id="passwword" placeholder="Choose passwword..." name="passwword" required>
				</p>
				<p>First Name
					<input type="text" style="margin-left: 47px;" size="25" id="firstname" placeholder="First name ..." name="firstname" required>
				</p>
				<p>Last Name
					<input type="text" style="margin-left: 47px;" size="25" id="lastname" placeholder="Last name ..." name="lastname" required>
				</p>
				<button type="submit">Register
			</div>
		</form>
		</div>
		<div><%=error1%></div>
	</section>
	</body>
	<br>
	<br>
	<div class="footer">&copy; Created By PLEX Lab in New Mexico State University </div>
</html>
