<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
	<div>
			<a style="position: sticky;" href="/home">Home</a>
			<a style="position: sticky;" href="/searchBy">Search</a>
			<a style="position: sticky; " href="/login">Login</a>
			<a style="position: sticky;" href="/about">About</a>	
	</div>
    <header>
		<p><%= title %><br><br><strong>Register New User!</strong></p>
	</header>
	<section class="post">
		<h2></h2>
		<div style="color:red;"><strong><%=error1%></strong></div>
		<div style="color:green;"><strong><%=success%></strong></div>
		<div>
		<form action="/registerUser" method="post">
			<div class="input">
				<input type="hidden" style="margin-left: 11px; maxlength="24" size="21" id="cFormID" placeholder="ID is 24 hex character..." 	name="cFormID" 	value=<%=cfVal%>>
				<p>Username
					<input type="text" style="margin-left: 50px;" 		size="25" id="username"		placeholder="Choose username..." 	name="username" required>
				</p>
				<p>Password
					<input type="password" style="margin-left: 53px;" 	size="25" id="pswd" 		placeholder="Choose passwword..." 	name="pswd" required>
				</p>
				<p>First Name
					<input type="text" style="margin-left: 47px;" 		size="25" id="firstname"	placeholder="First name ..." 		name="firstname" required>
				</p>
				<p>Last Name
					<input type="text" style="margin-left: 47px;" 		size="25" id="lastname" 	placeholder="Last name ..." 		name="lastname" required>
				</p>
				<button type="submit">Register
			</div>
		</form>
		</div>
	</section>
	</body>
	<br>
	<br>
	<div class="footer">&copy; Created By PLEX Lab in New Mexico State University </div>
</html>
