<!DOCTYPE html>
<html>
	<head>
		<title>Videos List</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Videos Metadata</h1>
		<table>
		<thead>
			<tr>
				<th><strong><center>index			</center></strong></th>
				<th><strong><center>Video Title		</center></strong></th>
				<th><strong><center>Date			</center></strong></th>
				<th><strong><center>Visibility		</center></strong></th>
				<th><strong><center>Views count		</center></strong></th>
				<th><strong><center>Comments count	</center></strong></th>
				<th><strong><center>URL				</center></strong></th>
			</tr>
		</thead>
		<%
			var list = '';
			for (i = 0; i < videosMetadata.length; i++) {
				var index = i + 1;
				list += ['<tr>',
								'<td>' + index						+'</td>',
								'<td>' + videosMetadata[i].vTitle	+'</td>',
								'<td>' + videosMetadata[i].vDate	+'</td>',
								'<td>' + videosMetadata[i].vVis		+'</td>',
								'<td>' + videosMetadata[i].vView	+'</td>',
								'<td>' + videosMetadata[i].vNoComm	+'</td>',
								'<td><a href="'+videosMetadata[i].vURL+'">'+videosMetadata[i].vURL+'</a></td>',
							'</tr>'].join('\n');
				}	
		%>
		<%- list %>
		</table>
	</body>
</html>